/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1b2e3c; /* Purple color */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-li {
    margin: 0 15px;
}

.nav-li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.nav-li a:hover {
    color: #E7F0F6;
}

.nav-icon {
    margin-right: 8px;
}


/* "weroebi" styling */
.nav-li:first-child a {
    font-family: 'Cursive', sans-serif;
    font-size: 24px;
    font-weight: bold;
}


/* Search bar styling */
.search {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    max-width: 400px;
}

.search-field {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
}

.search-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.search-button:hover {
    color: #1b2e3c; /* Purple color */
}

.logo {
    width:128px;
    height:128px;
    display: inline;
}




.q-desc{
    text-align: center;
}

.q-name-label, .q-name, .q-desc-label, textarea {
    display: block;
}

textarea, .q-name{
    margin: 10px auto;
}

textarea {
    width: 50%;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #333;
    border-style: solid;
    border-width: thin;
    font-size: large;
}

fieldset {
    background-color: #1b2e3c;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #333;
    border-style: solid;
    border-width: thin;
    margin-bottom: 25px;
}

.q-name-label, .q-desc-label {
    color: white;
}

.q-legend {
    background-color: #1b2e3c;
    color: white;
    font-size: x-large;
    padding: 10px;
    border-radius: 7px;
}


button:hover{
    background-color: #ffffff;
    color: #1b2e3c;
}

button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    background-color: #1b2e3c;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-color: #333;
    border-style: solid;
    border-width: thin;
}

input {
    width: 200px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

label {
    font-size: large;
}

input [type=checkbox] {
    width: 40px;
    height: 40px;
    background-color: #1b2e3c;
}

input [type=checkbox]:checked {
    width: 40px;
    height: 40px;
    background-color: #1b2e3c;
}

h1 {
    text-align: center;
    color: #1b2e3c;
}

.q-b {
    text-align: center;
}

.question {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


