/* Reset some basic styles */
body, ul, h2, h3, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body styling */
body {
    background-color: #f4f4f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}

/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1b2e3c; /* Purple color */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-li {
    margin: 0 15px;
}

.nav-li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.nav-li a:hover {
    color: #E7F0F6;
}

.nav-icon {
    margin-right: 8px;
}

/* "weroebi" styling */
.nav-li:first-child a {
    font-family: 'Cursive', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/* Search bar styling */
.search {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    max-width: 400px;
}

.search-field {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
}

.search-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.search-button:hover {
    color: #1b2e3c; /* Purple color */
}

/* Main section styling */
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.logo {
    width:128px;
    height:128px;
    display: inline;
}
/* quiz_summary.css */

h1 {
    text-align: center;
    color: #ffffff;
    background-color: #1b2e3c;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto 20px;
}
h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
 .liebi{
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.liebi strong {
    color: #1b2e3c;
}

h3 {
    color: #555;
    border-bottom: 2px solid #1b2e3c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

