/* Navigation bar styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1b2e3c; /* Purple color */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-li {
    margin: 0 15px;
}

.nav-li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.nav-li a:hover {
    color: #E7F0F6;
}

.nav-icon {
    margin-right: 8px;
}

/* "weroebi" styling */
.nav-li:first-child a {
    font-family: 'Cursive', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/* Search bar styling */
.search {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #f1f1f1;
    max-width: 400px;
}

.search-field {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
}

.search-button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}

.search-button:hover {
    color: #1b2e3c; /* Purple color */
}

.logo {
    width:128px;
    height:128px;
    display: inline;
}

body {
    background-color: #E7F0F6;
    text-align: center;
}

h1 {
    background-color: #1b2e3c;
    color: white;
    border-radius: 7px;
    width: fit-content;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #333;
    border-style: solid;
    border-width: thin;
    font-size: x-large;
}

p {
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 15px;
}

.res {
    background-color: white;
    border-radius: 7px;
    width: 25%;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #333;
    border-style: solid;
    border-width: thin;
}

.res a {
    text-decoration: none;
    padding: 5px;
    color: #1b2e3c;
    font-size: larger;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-color: #1b2e3c;
    border-style: solid;
    border-width: thin;
    margin-bottom: 20px;
}

.res a:hover {
    background-color: #1b2e3c;
    color: white;
    transition: background-color 0.3s ease;
}
